
* {
    margin : 0;
    padding: 0;
    font-family: arial,sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #240029;
    height: 100vh;
    background: #CCC9E7;
    margin: 0 10vw;
}

header {
    display: flex;
} 

.vision {
    /* color: #4C4D57; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.vis-para   {
    font-style: italic;
}

.mission {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about  {
    text-align: justify;
    text-justify: inter-word;
}

.year   {
    color: #C90369;
}

.under  {
    text-decoration: underline;
    color: #4C4D57;
    text-decoration-color: #4C4D57;
}

ol {
    /* justify-content: space-between; */
    margin: 2vh 5vw 1vh;
}

p{
    margin: 1vh 1vw 1vh;

}